<form (ngSubmit)='addBook()'>
    <label for="name">Título</label>
    <input type="text" name="name" id="name" [(ngModel)]="name">
    <label for="author">Autor</label>
    <input type="text" name="author" id="author" [(ngModel)]="author">
    <label for="gender">Género</label>
    <select name="gender" [(ngModel)]="gender" class="form-control" [(ngModel)]="gender"> 
        <option *ngFor="let _gender of genders" [value]="_gender.id" >{{_gender.name}}</option> 
    </select> 
    <button type="submit">Agregar libro</button>
</form>