<table>
    <thead>
        <th>Título</th>
        <th>Autor</th>
        <th>Género</th>
        <!-- Tiene un nombre y un botón, al clickear este botón abre un input que permite modificar su valor!-->
        <th>Préstamo</th>
        <!-- Al clickear este botón elimina el registro del servidor-->
        <th>Eliminar</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.gender}}</td>
            <td><button (click)="lendBook(book.id)">Prestar/Devolver</button></td>
            <td><button (click)="deleteBook(book.id)">Borrar</button></td>
            
        </tr>
    </tbody>
</table>