<table>
    <thead>
        <th>Título</th>
        <th>Autor</th>
        <th>Género</th>
        <!-- Tiene un nombre y un botón, al clickear este botón abre un input que permite modificar su valor!-->
        <th>Préstamo</th>
        <th>Prestado a</th>
        <!-- Al clickear este botón elimina el registro del servidor-->
        <th>Eliminar</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.gender}}</td>
            <td><label for= "lended"></label>
                <input type="text" name="lended" id="lended" placeholder="Ingrese un nombre" [(ngModel)]="lended"><button (click)="lendBook(book.id)">Prestar/Devolver</button></td>
            <td>{{book.lended}}</td>
            <td><button (click)="deleteBook(book.id)">Borrar</button></td>
            
        </tr>
    </tbody>
</table>